<!--
actions.handlebars

This file provides a template for POST-binding actions.
In order to make it more flexible, there are serveral parameters you can set.

entityEndpoint: either service or identity provider
type: declares the type of actions (SAMLRequest/SAMLResponse)
value: value for action (value should be base64 encoded before subsitution)

-->
<form id="saml-form" method="post" autocomplete="off" action="{{entityEndpoint}}">
    <input type="hidden" name="{{type}}" value="{{context}}" />
    {{#if relayState}}
        <input type="hidden" name="RelayState" value="{{relayState}}" />
    {{/if}}
</form>
<script type="text/javascript">
    (function(){
        document.forms[0].submit();
    })();
</script>
