version: 2.1

jobs:
  test:
    docker:
      - image: cimg/node:20.0
    environment:
      INSTALL_JDK: 1
    steps:
      - checkout
      - run:
          name: Install Java JDK 20
          command: |
            sudo apt-get update
            sudo apt-get install -y wget lsb-release
            sudo mkdir -p /etc/apt/keyrings
            wget -qO - https://packages.adoptium.net/artifactory/api/gpg/key/public | sudo tee /etc/apt/keyrings/adoptium.asc
            echo "deb [signed-by=/etc/apt/keyrings/adoptium.asc] https://packages.adoptium.net/artifactory/deb $(lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/adoptium.list
            sudo apt-get update
            sudo apt-get install -y temurin-20-jdk
            java -version
            javac -version
      - run:
          name: Install dependencies
          command: yarn install --production=true
      - run:
          name: Install test dependencies
          command: yarn add @authenio/samlify-xsd-schema-validator
      - run:
          name: Run tests
          command: yarn test --timeout=30s
      - run:
          name: Generate coverage
          command: npm run coverage

  test-node-16:
    docker:
      - image: cimg/node:16.0
    environment:
      INSTALL_JDK: 1
    steps:
      - checkout
      - run:
          name: Install Java JDK 20
          command: |
            sudo apt-get update
            sudo apt-get install -y wget lsb-release
            sudo mkdir -p /etc/apt/keyrings
            wget -qO - https://packages.adoptium.net/artifactory/api/gpg/key/public | sudo tee /etc/apt/keyrings/adoptium.asc
            echo "deb [signed-by=/etc/apt/keyrings/adoptium.asc] https://packages.adoptium.net/artifactory/deb $(lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/adoptium.list
            sudo apt-get update
            sudo apt-get install -y temurin-20-jdk
            java -version
            javac -version
      - run:
          name: Install dependencies
          command: yarn install --production=true
      - run:
          name: Install test dependencies
          command: yarn add @authenio/samlify-xsd-schema-validator
      - run:
          name: Run tests
          command: yarn test --timeout=30s

  test-node-18:
    docker:
      - image: cimg/node:18.0
    environment:
      INSTALL_JDK: 1
    steps:
      - checkout
      - run:
          name: Install Java JDK 20
          command: |
            sudo apt-get update
            sudo apt-get install -y wget lsb-release
            sudo mkdir -p /etc/apt/keyrings
            wget -qO - https://packages.adoptium.net/artifactory/api/gpg/key/public | sudo tee /etc/apt/keyrings/adoptium.asc
            echo "deb [signed-by=/etc/apt/keyrings/adoptium.asc] https://packages.adoptium.net/artifactory/deb $(lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/adoptium.list
            sudo apt-get update
            sudo apt-get install -y temurin-20-jdk
            java -version
            javac -version
      - run:
          name: Install dependencies
          command: yarn install --production=true
      - run:
          name: Install test dependencies
          command: yarn add @authenio/samlify-xsd-schema-validator
      - run:
          name: Run tests
          command: yarn test --timeout=30s

workflows:
  version: 2
  test:
    jobs:
      - test-node-16
      - test-node-18
      - test

