<header>{{user.sysEmail}} <a href="/logout">Logout</a></header>
<h3 style="margin-bottom:55px;">es2-IdP Management Console</h3>
<div class="service-btn" onClick="requestService(369550);">Sign in application 1 (:4002)</div>
<div class="service-btn" onClick="requestService(369551);">Sign in application 2 (:4003)</div>
<div class="service-btn" onClick="requestService(369552);">Sign in application 3 (okta)</div>
<div class="service-btn" onClick="logoutAll();">Logout all services</div>

<!--
<p>+ http://localhost:4002 <a href="/sso/select/369550">Sign in</a> </p>
<p>+ http://localhost:4003 <a href="/sso/select/369551">Sign in</a> </p>
<p>+ Logout all services <a href="/sso/logout/all">Logout</a></p>
<p>+ Logout all services (Async) <a href="/sso/logout/all?async=true">Logout</a></p>
-->

<script>
    function requestService(id){
        window.location.href = "/sso/select/" + id;
    }
    function logoutAll(){
        window.location.href = "/sso/logout/all";
    }
</script>
