<h3>Identity Provider - Management console</h3>
<span>Login as <b>{{user.sysEmail}}</b> <a href="/logout">Logout</a></span>
<br>--------------------------------------------------<br>
<p><b>List of services</b></p>
<h5>
    <p>+ http://localhost:4002 <a href="/sso/select/369550">Sign in</a> </p>
    <p>+ http://localhost:4003 <a href="/sso/select/369551">Sign in</a> </p>
    <p>+ Logout all services <a href="/sso/logout/all">Logout</a></p>
    <!--
        <p>+ Logout all services (Async) <a href="/sso/logout/all?async=true">Logout</a></p>
    -->
</h5>
