body {
  text-align: center;
  font-family:"Roboto";
  color: #888888;
}

a {
  color: #00B7FF;
}

header {
    text-align: right;
    font-size: 15px;
    margin-bottom: 55px;
}

div#form-wrapper {
    padding-top: 30px;
    margin: 0 auto;
    width: 300px;
}

button,
div.sso-btn {
    margin-top:5px;
    border: none;
    height: 30px;
    width: 230px;
    border-radius: 3px;
    background: #00B7FF;
    color: #FFFFFF;
}

input {
    outline: none;
    width: 220px;
    padding-left: 5px;
    margin-bottom: 5px;
    height: 23px;
    display: inline-block;
}

div.service-btn{
    padding-top: 10px;
    border: 2px solid #cccccc;
    border-radius: 5px;
    padding-bottom: 10px;
    color: #888888;
    width: 230px;
    margin: 10px auto;
    font-size: 13px;
    cursor: pointer;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
